.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.error-handler {
  display: flex;
  color: red;
  border: 3px solid red;
  justify-content: center;
  align-items: center;
}

.new-tweet {
  flex-grow: 0.75;
  padding-bottom: 10px;
}

#form {
  display: flex;
  flex-direction: column;
  display: none;
}

#tweet-text {
  border: none;
  border-bottom: 3px solid black;
  background-color: #f4f1ec;
}

#tweet-button {
  font-family: 'Bungee', sans-serif;
  background-color: #4056A1;
  color: #FFFFFF;
}

#below-txt-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5px;
}

.counter {
  font-family: 'Bungee', sans-serif;
}

.error-message {
  display: none;
}