@media only screen and (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: row;
  }
  .container {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 50px;
    width: 50%;
  }

  .img-header {
    border-left: 10px solid #f4f1ec;
    border-top: 10px solid #f4f1ec;
    width: 50%;
  }

  nav {
    background-color: #4056A1;
  }

  #down-button {
    background-color: #4056A1;
  }
}